<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>invoice-management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>com.invoice.management.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DummyServlet</display-name>
    <servlet-name>DummyServlet</servlet-name>
    <servlet-class>com.invoice.management.DummyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DummyServlet</servlet-name>
    <url-pattern>/DummyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetData</display-name>
    <servlet-name>GetData</servlet-name>
    <servlet-class>com.invoice.management.GetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetData</servlet-name>
    <url-pattern>/GetData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSalesOrder</display-name>
    <servlet-name>SearchSalesOrder</servlet-name>
    <servlet-class>com.invoice.management.SearchSalesOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSalesOrder</servlet-name>
    <url-pattern>/SearchSalesOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSalesOrder</display-name>
    <servlet-name>AddSalesOrder</servlet-name>
    <servlet-class>com.invoice.management.AddSalesOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSalesOrder</servlet-name>
    <url-pattern>/AddSalesOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSalesOrder</display-name>
    <servlet-name>DeleteSalesOrder</servlet-name>
    <servlet-class>com.invoice.management.DeleteSalesOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSalesOrder</servlet-name>
    <url-pattern>/DeleteSalesOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSalesOrder</display-name>
    <servlet-name>EditSalesOrder</servlet-name>
    <servlet-class>com.invoice.management.EditSalesOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSalesOrder</servlet-name>
    <url-pattern>/EditSalesOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDummyData</display-name>
    <servlet-name>GetDummyData</servlet-name>
    <servlet-class>com.invoice.management.GetDummyData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDummyData</servlet-name>
    <url-pattern>/GetDummyData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fdf</display-name>
    <servlet-name>fdf</servlet-name>
    <servlet-class>com.invoice.management.fdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fdf</servlet-name>
    <url-pattern>/fdf</url-pattern>
  </servlet-mapping>
</web-app>