.btn-sec{
    background-color: #283d4a;
    height: 80px;
    display:flex;
  }
  .btn {
      margin-top: 20px;
      margin-left: 12px;;
  }
  .btn-grp {
      margin-right: 10px;;
  }
  .rf{
      padding-right: 10px;;
      
  }
  .search {
    background-color: #FFFFFF;
    border-radius: 10px;
}
