<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeDetails</display-name>
    <servlet-name>EmployeeDetails</servlet-name>
    <servlet-class>demo.EmployeeDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDetails</servlet-name>
    <url-pattern>/EmployeeDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetchservlet</display-name>
    <servlet-name>Fetchservlet</servlet-name>
    <servlet-class>com.servlet.Fetchservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetchservlet</servlet-name>
    <url-pattern>/Fetchservlet</url-pattern>
  </servlet-mapping>
</web-app>